/lambda-java/code2blog_lambda_demo/.idea
/lambda-java/code2blog_lambda_demo/out
/lambda-java/code2blog_lambda_demo/target
/cli-scripts/role/response.json
/lambda-nodejs/myFirstProject/.idea
/lambda-nodejs/code2blog_lambda_nodejs.zip
/cli-scripts/response.json
/cli-scripts/lambda/response.json
